openapi: 3.0.0
info:
  title: Posebestoimosti API
  description: API for managing deliveries and users
  version: 1.0.0
  contact:
    name: API Support
    email: support@posebestoimosti.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT    

servers:
  - url: http://prod.posebesto.ru:5001
    description: Production server
  - url: http://dev.posebesto.ru:5001
    description: Development server

security:
  - bearerAuth: []

paths:
  /private/customers/{customerId}/chats/{chatId}/messages:
    get:
      operationId: getLatestCustomerChatMessages
      summary: Get messages from a customer's latest chat
      tags:
        - Chats
      parameters:
        - name: customerId
          in: path
          required: true
          description: Unique identifier of the customer.
          schema:
            type: string
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat.
          schema:
            type: string
        - name: oldestMessage
          in: query
          required: false
          description: Return messages older than this message ID.
          schema:
            type: string
      responses:
        '200':
          description: Messages from the customer's latest chat.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatMessage'
        '404':
          description: Customer or chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createCustomerChatMessage
      summary: Create a message in a customer's chat
      description: Create a new message in the given customer's chat and return it.
      tags:
        - Chats
      parameters:
        - name: customerId
          in: path
          required: true
          description: Unique identifier of the customer.
          schema:
            type: string
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessage'
      responses:
        '200':
          description: The created message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        '404':
          description: Customer or chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Customer:
      type: object
      required:
        - id
        - first_name
        - last_name
        - email
        - created_at
        - last_seen_at
        - external_id
        - origin
      properties:
        first_name:
          type: string
          description: Customer's first name
          example: "Антон"
        last_name:
          type: string
          description: Customer's first name
          example: "Антон"
        id:
          type: string
          description: Unique identifier for the customer
          example: "1019705782"
        external_id:
          type: string
          description: Unique identifier in the system of origin (e.g., Telegram or VK)
          example: "1019705782"
        is_bot:
          type: boolean
          nullable: true
          description: Whether the customer is a bot
          example: null
        language_code:
          type: string
          description: Customer's language code
          example: "ru"
        username:
          type: string
          description: Customer's username
          example: "getting_drunk"
        created_at:
          type: string
          format: date-time
          description: When customer was created
          example: "2025-11-23T00:00:00.000Z"            
        last_seen_at:
          type: string
          format: date-time
          description: When customer was last seen
          example: "2025-11-23T00:00:00.000Z"    
        origin:
          type: enum
          enum:
            - TELEGRAM
            - VK
          description: Customer origin
          example: "TELEGRAM"        
    Subscription:
      type: object
      required:
        - id
        - fee
        - next_payment_at
        - status
        - created_at
        - last_seen_at
        - origin
        - external_id
      properties:
        id:
          type: string
          description: Unique identifier for the customer
          example: "1019705782"
        created_at:
          type: string
          format: date-time
          description: When subscription was created
          example: "2025-11-23T00:00:00.000Z"  
        canceled_at:
          type: string
          format: date-time
          description: When subscription was canceled
          example: "2025-11-23T00:00:00.000Z"  
        next_payment_at:
          type: string
          format: date-time
          description: When to charge next payment
          example: "2025-11-23T00:00:00.000Z" 
        status:
          type: string
          enum:
            - PENDING
            - ACTIVE
            - CANCELED
            - CANCELED_PAYMENT_OVERDUE
        fee:
            type: number
            format: float
            description: Cost of the subscription
            example: 609
    CustomerOverview: 
      type: object
      required:
        - balance
      allOf:
        - $ref: '#/components/schemas/Customer'
      properties:
        balance: 
          $ref: '#/components/schemas/CustomerBalance'
        stats:
          $ref: '#/components/schemas/CustomerStats'
        subscription:
          $ref: '#/components/schemas/Subscription'
        is_member:
          type: boolean
          description: Whether the customer is a member (has an active subscription)
          example: true
    OrderPickingPatch:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          description: Items to update in this order picking
          items:
            $ref: '#/components/schemas/PickingItem'
    OrderPatch:
      type: object
      properties:
        name:
          type: string
          description: Name of the customer
          example: "Updated Order Name"
        shipping_address:
          type: string
          description: Address of shipping
          example: "Oak str 1."
    OrderPicking:
      type: object
      required:
        - delivery
        - id
        - items
        - owner
        - status
        - total
        - type
      properties:
        id:
          type: string
          description: Unique identifier for the cart item
          example: "db13bdf1-cd12-4650-82be-f55af1e79bf7"      
        delivery:
          $ref: '#/components/schemas/DeliveryRef'
        items:
          type: array
          description: Items in this order picking
          items:
            $ref: '#/components/schemas/PickingItem'
        owner:
          $ref: '#/components/schemas/OwnerRef'
        status:
          type: string
          description: Order picking status
          example: "PENDING"
        total:
          type: number
          format: float
          description: Total value
          example: 0
        type:
          type: string
          description: Order picking type
          example: "ORIGINAL"
    CartItem:
      type: object
      required:
        - fraction
        - group
        - id
        - item_id
        - name
        - owner
        - quantity
        - category
        - price        
        - price_for_unit
        - non_member_price        
        - non_member_price_for_unit
      properties:
        category:
          type: string
          description: Item category
          example: "MEAT"      
        fraction:
          type: number
          format: float
          description: Fraction value
          example: 0.42
        group:
          type: string
          description: Item group
          example: "MOSCOW"
        id:
          type: string
          description: Unique identifier for the cart item
          example: "db13bdf1-cd12-4650-82be-f55af1e79bf7"
        item_id:
          type: string
          description: Unique identifier for the cart item
          example: "db13bdf1-cd12-4650-82be-f55af1e79bf7"
        name:
          type: string
          description: Item name
          example: "Горгонзола (Бразилия) Кусок 0.42 Кг"
        price:
            type: number
            format: float
            description: Price for the total quantity and fraction
            example: 609
        non_member_price:
            type: number
            format: float
            description: Non-member price for the total quantity and fraction
            example: 609
        price_for_unit:
            type: number
            format: float
            description: Price for one unit
            example: 609
        non_member_price_for_unit:
            type: number
            format: float
            description: Non-member price for one unit
            example: 609
        quantity:
            type: integer
            description: Quantity
            example: 1          
        owner:
          $ref: '#/components/schemas/OwnerRef'
        created_at:
          type: string
          format: date-time
          description: Delivery end date and time
          example: "2025-11-23T00:00:00.000Z"          
    PickingItem:
      allOf:
        - $ref: '#/components/schemas/CartItem'
      properties:
        status:
          type: string
          enum:
            - PENDING
            - COLLECTED
            - CANCELED
    ItemOverview:
      type: object
      required:
        - category
        - description
        - fraction
        - fraction_price_out
        - group
        - id
        - link
        - name
        - price_out
        - unit
        - unit_description
        - is_weighted
        - non_member_fraction_price_out
        - non_member_unit_price_out        
      properties:
        deliveries:
          type: array
          description: Deliveries containing this item group
          items:
            $ref: '#/components/schemas/DeliveryRef'      
        category:
          type: string
          description: Item category
          example: "MEAT"
        description:
          type: string
          description: Item description
          example: "мясо"
        is_weighted:
          type: boolean
          description: Is item sells by weight
          example: true          
        fraction:
          type: number
          format: float
          description: Fraction value
          example: 1.2
        fraction_price_out:
          type: number
          format: float
          description: Fraction price out
          example: 1439
        non_member_fraction_price_out:
          type: number
          format: float
          description: Non-member fraction price out
          example: 1439
        non_member_unit_price_out:
          type: number
          format: float
          description: Non-member unit price out
          example: 1439          
        group:
          type: string
          description: Item group
          example: "BALASHOV"
        id:
          type: string
          description: Unique identifier for the item
          example: "06088197-f7ef-4bf2-8b3f-2f4a05c6c104"
        link:
          type: string
          description: Link to item details
          example: "https://t.me/posebestoimosti_saratov/214"
        name:
          type: string
          description: Item name
          example: "Телятина Филе (Тендер Лоин)"
        price_out:
          type: number
          format: float
          description: Price out
          example: 1199
        unit:
          type: string
          description: Unit of measurement
          example: "Кг"
        unit_description:
          type: string
          description: Unit description
          example: "Отруб"
        stats:
          $ref: '#/components/schemas/ItemStats'
          description: Statistics for the item including likes and share enters

    OwnerRef:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Owner ID
          example: "270053857"
    DeliveryRef:
      type: object
      required:
        - delivery_end
        - delivery_start
        - id
      properties:
        delivery_end:
          type: string
          format: date-time
          description: Delivery end date and time
          example: "2025-11-23T00:00:00.000Z"
        delivery_start:
          type: string
          format: date-time
          description: Delivery start date and time
          example: "2025-11-21T00:00:00.000Z"
        id:
          type: string
          description: Unique identifier for the order picking
          example: "ef4d5632-ba34-4488-97a5-b9b7af299535"      
    CustomerRef:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Customer ID
          example: "1019705782"
        username:
          type: string
          description: Customer's username
          example: "getting_drunk"
        first_name:
          type: string
          description: Customer's first name
          example: "Антон"
        last_name:
          type: string
          description: Customer's last name
          example: "Антон"
    Item:
      type: object
      required:
        - category
        - description
        - fraction
        - fraction_price_out
        - non_member_fraction_price_out
        - non_member_unit_price_out
        - group
        - id
        - link
        - name
        - price_in
        - price_out
        - row_number
        - status
        - unit
        - unit_description
        - is_weighted
      properties:
        category:
          type: string
          description: Item category
          example: "MEAT"
        description:
          type: string
          description: Item description
          example: "мясо"
        fraction:
          type: number
          format: float
          description: Fraction value
          example: 1.2
        fraction_price_out:
          type: number
          format: float
          description: Fraction price out
          example: 1439
        non_member_fraction_price_out:
          type: number
          format: float
          description: Non-member fraction price out
          example: 1439
        non_member_unit_price_out:
          type: number
          format: float
          description: Non-member unit price out
          example: 1439
        group:
          type: string
          description: Item group
          example: "BALASHOV"
        id:
          type: string
          description: Unique identifier for the item
          example: "06088197-f7ef-4bf2-8b3f-2f4a05c6c104"
        link:
          type: string
          description: Link to item details
          example: "https://t.me/posebestoimosti_saratov/214"
        name:
          type: string
          description: Item name
          example: "Телятина Филе (Тендер Лоин)"
        price_in:
          type: number
          format: float
          description: Price in
          example: 1000
        price_out:
          type: number
          format: float
          description: Price out
          example: 1199
        row_number:
          type: integer
          description: Row number
          example: 11
        status:
          type: string
          description: Item status
          example: "ACTIVE"
        unit:
          type: string
          description: Unit of measurement
          example: "Кг"
        unit_description:
          type: string
          description: Unit description
          example: "Отруб"
        is_weighted:
          type: boolean
          description: Is item sells by weight
          example: true
    Stats:
      type: object
      required:
        - total
        - fraction
        - quantity
        - name
        - category
      properties:
        total:
          type: number
          format: float
          description: Total value
          example: 4498
        fraction:
          type: number
          format: float
          description: Fraction value
          example: 1.8
        quantity:
          type: number
          format: integer
          description: Quantity of items
          example: 1
        name:
          type: string
          description: Name of the stats item
          example: "Сёмга филе Филе на коже 1.8 Кг"
        category:
          type: string
          description: Category of the stats item
          example: "Сёмга филе Филе на коже 1.8 Кг"
          
    ItemStats:
      type: object
      properties:
        number_of_likes:
          type: integer
          description: Number of likes for the item
          example: 42
        number_of_share_enters:
          type: integer
          description: Number of share enters for the item
          example: 15
          
    DeliveryOverviewItemStats:
      type: object
      allOf:
        - $ref: '#/components/schemas/Stats'  
      properties:
        orders: 
          type: array   
          items:
            $ref: '#/components/schemas/Order'


    Delivery:
      type: object
      required:
        - id
        - number
        - status
        - description
        - order_deadline
        - delivery_start
        - delivery_end
        - group
        - orders
      properties:
        id:
          type: string
          description: Unique identifier for the delivery
          example: "delivery-123"
        number:
          type: integer
          description: Delivery number
          example: 1001
        description:
          type: string
          description: Description of the delivery
          example: "Weekly grocery delivery"
        status:
          type: string
          enum:
            - PENDING
            - IN_TRANSIT
            - IN_TRANSIT_BACK
            - FULFILLED
          description: Current status of the delivery
          example: "PENDING"
        order_deadline:
          type: string
          format: date-time
          description: Deadline for placing orders
          example: "2025-01-15T23:59:59Z"
        delivery_start:
          type: string
          format: date-time
          description: Start date and time of delivery
          example: "2025-01-16T08:00:00Z"
        delivery_end:
          type: string
          format: date-time
          description: End date and time of delivery
          example: "2025-01-16T18:00:00Z"
        group:
          type: string
          description: Delivery group identifier
          example: "group-a"
        orders:
          type: array
          description: List of orders in this delivery
          items:
            $ref: '#/components/schemas/Order'
        owner:
          $ref: '#/components/schemas/OwnerRef'

    DeliveryOverview:
      type: object
      allOf:
        - $ref: '#/components/schemas/Delivery'
      properties:
        activeOrders:
          type: array
          description: List of active orders in this delivery. All orders which are not CANCELED
          items:
            $ref: '#/components/schemas/Order'
        cancelledOrders:
          type: array
          description: List of active orders in this delivery. All orders which are not CANCELED
          items:
            $ref: '#/components/schemas/Order'
        removedOrders:
          type: array
          description: List of all CANCELED orders in this delivery
          items:
            $ref: '#/components/schemas/Order'
        stats:
          type: array
          description: Statistics for the delivery
          items:
            $ref: '#/components/schemas/DeliveryOverviewItemStats'
    Order:
      type: object
      required:
        - id
        - items
        - status
        - owner
        - total
        - type
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the order
          example: "order-456"
        reconciliated_order_id:
          type: string
          description: Original order this order is consolidated with
          example: "order-45611"
        name:
          type: string
          description: Name of the customer
          example: "Order 1"
        shipping_address:
          type: string
          description: Address
          example: "Str 1, city"
        delivery:
          $ref: '#/components/schemas/DeliveryRef'
        items:
          type: array
          description: Items in this order
          items:
            $ref: '#/components/schemas/CartItem'
        status:
          type: string
          enum:
            - PENDING
            - PAYMENT_IN_PROGRESS
            - PAYMENT_FAILED
            - PAID
            - RESOLVING
            - CONCILIATION_PAYMENT_IN_PROGRESS
            - CONSOLIDATION_SUCCESSFUL
            - CONCILIATED
            - CANCELED
            - DELIVERED
        type:
          type: string
          enum:
            - CONCILIATION
            - ORIGINAL
          description: Current status of the order
          example: "CONCILIATION"
        owner:
          $ref: '#/components/schemas/OwnerRef'
        number_of_items:
          type: integer
          description: Number of items in the order
          example: 5
        total:
          type: number
          format: float
          description: Total value of the order
          example: 150.75
        created_at:
          type: string
          format: date-time
          description: Delivery end date and time
          example: "2025-11-23T00:00:00.000Z"           
        updated_at:
          type: string
          format: date-time
          description: Delivery end date and time
          example: "2025-11-23T00:00:00.000Z"           
    OrderOverview:
      type: object
      required:
        - customer
      allOf:
        - $ref: '#/components/schemas/Order'
      properties:
        picking:
          $ref: '#/components/schemas/OrderPicking'
        customer:
          $ref: '#/components/schemas/CustomerOverview'
        comments:
          $ref: '#/components/schemas/Comment'
        payment:
          $ref: '#/components/schemas/Payment'

    User:
      type: object
      required:
        - id
        - email
        - roles
      properties:
        id:
          type: string
          description: Unique identifier for the user
          example: "user-123"
        email:
          type: string
          format: email
          description: User's email address
          example: "user@example.com"
        password:
          type: string
          format: hash
          description: hashed password
          example: sdfee335gsdfwDEfggh
        token:
          type: string
          format: jwt
          description: jwt token
          example: sdfee335gsdfwDEfggh
        roles:
          type: array
          description: User roles
          items:
            type: string
            enum:
              - AGENT
              - ADMIN
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-01-01T00:00:00Z"
        label:
          type: object
          description: User label information
          properties:
            expiration:
              type: integer
              description: Label expiration timestamp
              example: 1735689600

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Error code
              example: "NOT_FOUND"
            message:
              type: string
              description: Error message
              example: "Delivery not found"
    ConversationMessage:
      type: object
      description: A message sent in a conversation
      properties:
        id:
          type: string
          description: Unique identifier for the message
          readOnly: true
        thread_id:
          type: string
          description: Unique identifier a thread those messages belongs to
        provider:
          type: string
          enum: [TELEGRAM, OTHER]
          description: The provider used to send the message
        role:
          type: string
          enum: [CUSTOMER, ADMIN]
          description: The provider used to send the message
        recipient_id:
          type: string
          description: The chat ID where the message was sent
        text:
          type: string
          description: The content of the message
        created_at:
          type: string
          format: date-time
          description: Timestamp when the message was created
      required:
        - id
        - provider
        - thread_id
        - text
        - role
        - created_at

    Payment:
      type: object
      required:
        - id
        - external_id
        - terminal_key
        - payment_url
        - order_id
        - amount
        - total
        - status
        - success
        - created_at
        - updated_at
      properties:
        payment_url:
          type: string
          description: URL for payment processing
          example: "https://securepay.tinkoff.ru/payment/init"
        error_code:
          type: string
          nullable: true
          description: Error code from payment provider
          example: "0"
        message:
          type: string
          nullable: true
          description: Message from payment provider
          example: "0"
        status:
          type: string
          enum:
            - SENT
            - CONFIRMED
            - FAILED
            - TIMED_OUT
            - CANCELED
            - REJECTED
        id:
          type: string
          description: Internal payment ID
          example: "payment-123456"
        external_id:
          type: string
          description: Payment ID from external payment provider
          example: "123456"
        terminal_key:
          type: string
          description: Terminal key from payment provider
          example: "TinkoffBankTest"
        order_id:
          type: string
          description: Order ID associated with the payment
          example: "order-456"
        amount:
          type: integer
          description: Payment amount in minor units (kopecks)
          example: 15000
        total:
          type: integer
          description: Payment amount in minor units (kopecks)
          example: 15000
        success:
          type: boolean
          description: Whether the payment was successful
          example: true
        created_at:
          type: string
          format: date-time
          description: Payment creation timestamp
          example: "2025-01-10T14:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Payment creation timestamp
          example: "2025-01-10T14:30:00Z"
        confirmed_at:
          type: string
          format: date-time
          description: Payment creation timestamp
          example: "2025-01-10T14:30:00Z"

    CustomerBalance:
      type: object
      required:
        - id
        - owner
        - value
      properties:
        id:
          type: string
          description: Internal payment ID
          example: "payment-123456"      
        owner:
          $ref: '#/components/schemas/OwnerRef'
        value:
          type: number
          format: float
          description: Customer balance amount
          example: 150.75
        created_at:
          type: string
          format: date-time
          description: Balance creation timestamp
          example: "2025-01-10T14:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Balance last update timestamp
          example: "2025-01-10T14:30:00Z"
    CustomerAccounting:
      type: object
      required:
        - id
        - rebill_id
      properties:
        id:
          type: string
          description: Internal payment ID
          example: "payment-123456"      
        rebill_id:
          type: string          
          description: Id at bank to charge recursive payments
          example: "some-id-here"

    CustomerStats:
      type: object
      required:
        - id
        - number_of_orders
        - number_of_active_orders
        - number_of_free_orders
        - number_of_canceled_orders
        - number_of_fulfilled_orders
        - number_of_paid_months
        - paid_in_total
      properties:
        id:
          type: string
          description: Unique identifier for the customer
          example: "1019705782"      
        number_of_orders:
          type: integer
          description: Total number of orders for the customer
          example: 10
        number_of_active_orders:
          type: integer
          description: Total number of orders for the customer
          example: 10
        number_of_free_orders:
          type: integer
          description: Total number of orders for the customer
          example: 10
        number_of_canceled_orders:
          type: integer
          description: Number of canceled orders for the customer
          example: 2
        number_of_fulfilled_orders:
          type: integer
          description: Number of fulfilled orders for the customer
          example: 7
        number_of_paid_months:
          type: integer
          description: Number of paid subscription months for the customer
          example: 3
        paid_in_total:
          type: number
          format: float
          description: Total amount paid by the customer
          example: 4500.75

    SignupRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User's email address
          example: "user@example.com"
        password:
          type: string
          description: User's password (min 6 characters)
          example: "password123"
          minLength: 6

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User's email address
          example: "user@example.com"
        password:
          type: string
          description: User's password
          example: "password123"

    AddToCartItem:
      type: object
      required:
        - itemId
      properties:
        itemId:
          type: string
          description: Item ID to add to cart
          example: "06088197-f7ef-4bf2-8b3f-2f4a05c6c104"

    RemoveFromCartItem:
      type: object
      properties:
        cartItemId:
          type: string
          description: Cart item ID to remove from cart
          example: "db13bdf1-cd12-4650-82be-f55af1e79bf7"
        itemId:
          type: string
          description:  item ID to remove from cart. All the cart items of this item will be removed
          example: "db13bdf1-cd12-4650-82be-f55af1e79bf7"

    Comment:
      type: object
      required:
        - text
        - owner
        - created_at
        - id
        - entity_id
        - class
      properties:
        text:
          type: string
          description: The comment text content
          example: "This is a comment"
        owner:
          $ref: '#/components/schemas/OwnerRef'
          description: The owner of the comment
        created_at:
          type: string
          format: date-time
          description: Timestamp when the comment was created
          example: "2025-01-10T14:30:00Z"
        id:
          type: string
          description: Unique identifier for the comment
          example: "comment-123456"
        entity_id:
          type: string
          description: ID of the entity this comment belongs to
          example: "order-456"
        class:
          type: string
          description: The class/type of the comment
          example: "NOTE"
    DeliveryAgentOverview:
      type: object
      required:
        - id
        - name
        - pickups
        - deliveries
      properties:
        id:
          type: string
          description: Unique identifier for the delivery agent
          example: "agent-123"
        name:
          type: string
          description: Name of the delivery agent
          example: "John Doe"
        pickups:
          type: array
          description: List of pickup orders
          items:
            $ref: '#/components/schemas/Order'
        deliveries:
          type: array
          description: List of delivery orders
          items:
            $ref: '#/components/schemas/Order'

    BroadcastResult:
      type: object
      description: Result of a broadcast operation
      properties:
        id:
          type: string
          description: ID of the broadcast task
        broadcast_task_id:
          type: string
          description: ID of the broadcast task
        created_at:
          type: string
          format: date-time
          description: Timestamp when the object was created
          example: "2025-01-10T14:30:00Z"          
        customer:
          $ref: '#/components/schemas/CustomerRef'
          description: Customer reference
        success:
          type: boolean
          description: Whether the broadcast was successful
        message:
          type: string
          description: Result message
        error:
          type: object
          nullable: true
          description: Error details if any
      required:
        - id
        - broadcast_task_id
        - customer
        - success
        - message
        - created_at

    ChatMessage:
      type: object
      description: A message in an AI chat.
      required:
        - id
        - chat_id
        - role
        - content
        - owner
        - created_at
      properties:
        id:
          type: string
          description: Unique identifier of the message.
          example: msg_01J9Z7Y6X5W4V3U2T1S0
        chat_id:
          type: string
          description: Unique identifier of the chat to which the message belongs.
          example: chat_01J9Z7Y6X5W4V3U2T1S0
        role:
          type: string
          description: Author of the message.
          enum:
            - user
            - assistant
          example: assistant
        content:
          type: string
          description: Text content of the message.
          example: How can I help you today?
        owner:
          $ref: '#/components/schemas/OwnerRef'
        created_at:
          type: string
          format: date-time
          description: Time the message was created.
          example: '2026-09-12T14:30:00Z'
    MessageFilter:
      type: object
      description: Filter for querying messages
      properties:
        threadId:
          type: string
          description: Filter messages by thread ID
          example: "thread-123"
        recipient:
          type: string
          description: Filter messages by recipient
          example: "CUSTOMER"


    AvailableOil:
      type: object
      description: Масло из доступного списка продуктов, передаваемого агенту подбора
      properties:
        id:
          type: string
          description: Идентификатор продукта
          example: "oil_001"
        name:
          type: string
          description: Название масла
          example: "Mobil 1 ESP 5W-30"
        sae:
          type: string
          description: Вязкость (SAE)
          example: "5W-30"
        api:
          type: array
          description: Список допусков API
          items:
            type: string
          example: ["SN"]
        acea:
          type: array
          description: Список допусков ACEA
          items:
            type: string
          example: ["C3"]
        oem_approvals:
          type: array
          description: Список OEM-допусков производителя автомобиля
          items:
            type: string
          example: ["VW 507 00"]
      required:
        - id
        - name
        - sae
        - api
        - acea
        - oemApprovals

    OilAgentMessage:
      type: object
      description: |
        Сообщение (AI message), передаваемое агенту подбора моторного масла.
        Содержит описание автомобиля пользователя и список доступных масел.
      properties:
        car:
          type: string
          description: Описание автомобиля пользователя
          example: "Volkswagen Passat 2019 2.0 TDI 150 hp"
        available_oils:
          type: array
          description: Список доступных масел, из которых агент выбирает подходящие
          items:
            $ref: '#/components/schemas/AvailableOil'
      required:
        - car
        - available_oils



tags:
  - name: Deliveries
    description: Operations related to deliveries
  - name: Order Pickings
    description: Operations related to order pickings
  - name: Users
  - name: Items
  - name: Cart
    description: Operations related to cart
  - name: Orders
    description: Operations related to orders
  - name: Authentication
    description: User authentication and registration
  - name: Comments
    description: Operations related to comments
